---
layout: default
title: Welcome
---

<iframe style="width:100%; height: 240px; border:0; overflow: none;" src="{{ site.baseurl }}/build/">
</iframe>

{% for post in site.posts %}

<article class='post'>
  <h1 class='post-title'>
    <a href="{{ site.path }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h1>
  {% if post.timestamp != null %}
    <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
  {% endif %}
  {% if post.teaser != null %}
    <div class="post-teaser"> {{ post.teaser }} </div>
  {% else %}
    {{ post.content }}
  {% endif %}
</article>

{% endfor %}

