<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <div class="content">
          <div id="editor" class="cell" style="width: 400px; height: 100px; background: white">
              Edit me!
          </div>
      </div>
  </body>
</html>
